extends modal
block content
  // Main
  .container-fluid
    .row
      .col-sm-12
        .row
          // center
          .col-md-12
            .btn-group.btn-group-justified
              a.btn.btn-primary.col-sm-3(type='button', data-toggle='modal', data-target='#newTask', disabled=(projectNames.length > 0 && users.length > 0 ? false : true))
                i.glyphicon.glyphicon-plus
                br
                strong
                big Task
              a.btn.btn-primary.col-sm-3(type='button', data-toggle='modal', data-target='#newUser')
                i.glyphicon.glyphicon-plus
                br
                strong
                big User
              a.btn.btn-primary.col-sm-3(type='button', data-toggle='modal', data-target='#newProject')
                i.glyphicon.glyphicon-plus
                br
                strong
                big Project
              a.btn.btn-primary.col-sm-3(type='button', data-toggle='modal', data-target='#newUnit', disabled=(projectNames.length > 0 ? false : true))
                i.glyphicon.glyphicon-plus
                br
                strong
                big Unit
            a.anchor(name='open')
            .panel.panel-default
              .div-panel-heading
                .div-head
                  big OPEN
                  hr
                  .row
                    .col-sm-2 Project
                    .col-sm-2 Unit
                    .col-sm-4 Task
                    .col-sm-2 Assigned
                    .col-sm-2 Deadline
              .panel-body
                each val in tasks
                  if (val.value.status === 'open')
                    .click( type='button',
                            data-toggle='modal',
                            data-target='#Task',
                            data-id= '#{val.value._id}',
                            data-rev= '#{val.value._rev}',
                            data-task= '#{val.value.task}',
                            data-description= '#{val.value.description}',
                            data-deadlineDate= '#{val.value.deadlineDate}',
                            data-deadlineTime= '#{val.value.deadlineTime}',
                            data-user= '#{val.value.user}',
                            data-project= '#{val.value.project}',
                            data-unit= '#{val.value.unit}',
                            data-estimated= '#{val.value.estimated}',
                            data-spent= '#{val.value.spent}',
                            data-created= '#{val.value.created}',
                            data-creator= '#{val.value.creator}',
                            data-updated= '#{val.value.updated}',
                            data-updater= '#{val.value.updater}',
                            data-priority= '#{val.value.priority}',
                            data-status= '#{val.value.status}')
                      .row
                        .col-sm-2= val.value.project
                        .col-sm-2= val.value.unit
                        .col-sm-4= val.value.task
                        .col-sm-2= val.value.user
                        .col-sm-2 #{val.value.deadlineDate} #{val.value.deadlineTime}
                      .progress
                        .progress-bar.progress-bar-success(role='progressbar', aria-valuenow='#{val.value.spent}', aria-valuemin='0', aria-valuemax='#{val.value.estimated}', style='width: #{val.value.spent*100/val.value.estimated}%')
                          span.sr-only #{val.value.spent*100/val.value.estimated}%
                    hr
            a.anchor(name='closed')
            .panel.panel-default
              .div-panel-heading
                .div-head
                  big CLOSED
                  hr
                  .row
                    .col-sm-2 Project
                    .col-sm-2 Unit
                    .col-sm-4 Task
                    .col-sm-4 Assigned
              .panel-body
                each val in tasks
                  if (val.value.status === 'closed')
                    .click( type='button',
                            data-toggle='modal',
                            data-target='#Task',
                            data-id= '#{val.value._id}',
                            data-rev= '#{val.value._rev}',
                            data-task= '#{val.value.task}',
                            data-description= '#{val.value.description}',
                            data-deadlineDate= '#{val.value.deadlineDate}',
                            data-deadlineTime= '#{val.value.deadlineTime}',
                            data-user= '#{val.value.user}',
                            data-project= '#{val.value.project}',
                            data-unit= '#{val.value.unit}',
                            data-estimated= '#{val.value.estimated}',
                            data-spent= '#{val.value.spent}',
                            data-created= '#{val.value.created}',
                            data-creator= '#{val.value.creator}',
                            data-updated= '#{val.value.updated}',
                            data-updater= '#{val.value.updater}',
                            data-priority= '#{val.value.priority}',
                            data-status= '#{val.value.status}')
                      .row
                        .col-sm-2= val.value.project
                        .col-sm-2= val.value.unit
                        .col-sm-4= val.value.task
                        .col-sm-2= val.value.user
                        .col-sm-2 #{val.value.deadlineDate} #{val.value.deadlineTime}
                      .progress
                        .progress-bar.progress-bar-info(role='progressbar', aria-valuenow='#{val.value.spent}', aria-valuemin='0', aria-valuemax='#{val.value.estimated}', style='width: #{val.value.spent*100/val.value.estimated}%')
                          span.sr-only #{val.value.spent*100/val.value.estimated}%
                    hr
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
  script(src='javascripts/bootstrap.min.js')
  script(src='javascripts/scripts.js')
