extends modal
block content
  // Main
  .container-fluid
    .row
      .col-sm-2
        // Left column
        ul.nav.nav-stacked
          li.nav-header
            a(href='#', data-toggle='collapse', data-target='#userMenu')
              | Projects
              i.glyphicon.glyphicon-chevron-right
            ul#userMenu.nav.nav-stacked.collapse
              each val in projectNames
                li
                  a(href='#')= val.value.projectName

          li.nav-header
            a(href='#', data-toggle='collapse', data-target='#menu2')
              | User
              i.glyphicon.glyphicon-chevron-right
            ul#menu2.nav.nav-stacked.collapse
              each val in users
                li
                  a(href='#')= val.value.short
      .col-sm-10
        .row
          // center
          .col-md-12
            .btn-group.btn-group-justified
              a.btn.btn-primary.col-sm-3(type='button', data-toggle='modal', data-target='#newTask', disabled=(projectNames.length > 0 && users.length > 0 ? false : true))
                i.glyphicon.glyphicon-plus
                br
                strong
                big Task
              a.btn.btn-primary.col-sm-3(type='button', data-toggle='modal', data-target='#newUser')
                i.glyphicon.glyphicon-plus
                br
                strong
                big User
              a.btn.btn-primary.col-sm-3(type='button', data-toggle='modal', data-target='#newProject')
                i.glyphicon.glyphicon-plus
                br
                strong
                big Project
              a.btn.btn-primary.col-sm-3(type='button', data-toggle='modal', data-target='#newUnit', disabled=(projectNames.length > 0 ? false : true))
                i.glyphicon.glyphicon-plus
                br
                strong
                big Unit
            a.anchor(name='open')
            .panel.panel-default
              .div-panel-heading
                .div-head
                  big OPEN
                  hr
                  .row
                    .col-sm-2 Project
                    .col-sm-2 Unit
                    .col-sm-4 Task
                    .col-sm-4 Assigned
              .panel-body
                each val in tasks
                  .click( type='button',
                          data-toggle='modal',
                          data-target='#Task',

                          data-id= '#{val.value._id}',
                          data-rev= '#{val.value._rev}',
                          data-task= '#{val.value.task}',
                          data-description= '#{val.value.description}',
                          data-deadlineDate= '#{val.value.deadlineDate}',
                          data-deadlineTime= '#{val.value.deadlineTime}',
                          data-user= '#{val.value.user}',
                          data-project= '#{val.value.project}',
                          data-unit= '#{val.value.unit}',
                          data-estimated= '#{val.value.estimated}',
                          data-spent= '#{val.value.spent}',
                          data-created= '#{val.value.created}',
                          data-creator= '#{val.value.creator}',
                          data-priority= '#{val.value.priority}',
                          data-status= '#{val.value.status}')
                    .row
                      .col-sm-2= val.value.project
                      .col-sm-2= val.value.unit
                      .col-sm-4= val.value.description
                      .col-sm-4= val.value.user
                    .progress
                      span
                      .progress-bar.progress-bar-warning(role='progressbar', aria-valuenow='72', aria-valuemin='0', aria-valuemax='100', style='width: 72%')
                        span.sr-only 72% Complete
                  hr
            a.anchor(name='closed')
            .panel.panel-default
              .div-panel-heading
                .div-head
                  big CLOSED
                  hr
                  .row
                    .col-sm-2 Project
                    .col-sm-2 Unit
                    .col-sm-4 Task
                    .col-sm-4 Assigned
              .panel-body
                .click(type='button', data-toggle='modal', data-target='#Task')
                  .row
                    .col-sm-2 Project
                    .col-sm-2 Unit
                    .col-sm-4 Task
                    .col-sm-4 Assigned
                  .progress
                    .progress-bar.progress-bar-succes(role='progressbar', aria-valuenow='72', aria-valuemin='0', aria-valuemax='100', style='width: 72%')
                      span.sr-only 72% Complete
                hr
                .click(type='button', data-toggle='modal', data-target='#Task')
                  .row
                    .col-sm-2 Project
                    .col-sm-2 Unit
                    .col-sm-4 Task
                    .col-sm-4 Assigned
                  .progress
                    .progress-bar.progress-bar-succes(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 20%')
                      span.sr-only 20% Complete
                hr
                .click(type='button', data-toggle='modal', data-target='#Task')
                  .row
                    .col-sm-2 Project
                    .col-sm-2 Unit
                    .col-sm-4 Task
                    .col-sm-4 Assigned
                  .progress
                    .progress-bar.progress-bar-succes(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 60%')
                      span.sr-only 60% Complete (warning)
                hr
                .click(type='button', data-toggle='modal', data-target='#Task')
                  .row
                    .col-sm-2 Project
                    .col-sm-2 Unit
                    .col-sm-4 Task
                    .col-sm-4 Assigned
                  .progress
                    .progress-bar.progress-bar-succes(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 80%')
                      span.sr-only 80% Complete
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
  script(src='javascripts/bootstrap.min.js')
  script(src='javascripts/scripts.js')
